########################
# Requires rtorrent-ps #
########################
#scgi_port = localhost:5000
directory.default.set = /mnt/raid/manual_downloads/
session.path.set = /home/jakob/.rtorrent_session/

# Create views
view.add = Manual
view.add = RSS

# Collapse view
view.collapsed.toggle=Manual
view.collapsed.toggle=RSS
view.collapsed.toggle=main
view.collapsed.toggle=name
view.collapsed.toggle=active
view.collapsed.toggle=started
view.collapsed.toggle=stopped
view.collapsed.toggle=complete
view.collapsed.toggle=incomplete
view.collapsed.toggle=hashing
view.collapsed.toggle=seeding
view.collapsed.toggle=leeching
view.collapsed.toggle=rtcontrol

# Set custom4 for RSS downloads
# View download in RSS view
# Do not view download in Manual view
schedule = watch_directory,5,5,"load.start=/home/jakob/torrents/*.torrent, d.directory.set=/mnt/raid/downloads/, view.set_visible=RSS, view.set_not_visible=Manual, d.custom4.set=RSS"

# Filter views
view.filter = RSS, false=

# Automatically open new downloads
method.set_key = event.download.inserted,autoopen,"d.open="

# Define tvsort method
# Close download
# Execute tvsort command with download path as argument
# Erase download
method.insert = tvsort, simple, "d.close=;execute=tvsort,$d.base_path=;d.erase="

# Run tvsort metod on finished downloads if custom4 is set
method.set_key = event.download.finished,run_tvsort,"branch=d.custom4=, tvsort="

# Bind keys to views
# 2 -> Manual
# 3 -> RSS
schedule = bind_2,0,0,"ui.bind_key=download_list,2,ui.current_view.set=Manual"
schedule = bind_3,0,0,"ui.bind_key=download_list,3,ui.current_view.set=RSS"


# Throttles
throttle.global_down.max_rate.set = 10000000
throttle.global_up.max_rate.set = 1000000
throttle.max_peers.normal.set = 500

# Port range
network.port_range.set = 13337-13347
