[Unit]
Description=i3lock
Before=suspend.target
 
[Service]
User=jake
Type=forking
Environment=DISPLAY=:0
ExecStart=/home/jake/bin/lock
 
[Install]
WantedBy=suspend.target
